<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kovaa</title>
</head>

<body>
    <% layout("/layouts/boilerplate") %>

        <div class="row mt-2 ">
            <div class="col-8 offset-1 shadow-lg pb-3 ps-5 pe-5 pt-5 mb-3 bg-body text-dark border-0 rounded-4"  style="max-width: 85% ; width: 85%; ">
                <h3 class=" vh-100 mb-3"> <b>Edit Your Listing </b></h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation">
                    <div class="mb-2">
                        <label for="title" class="form-label">Title</label>
                        <input required type="text" class="form-control" name="listing[title]"
                            value="<%= listing.title %>">
                        <div class="valid-feedback">
                            Looks good !
                        </div>
                        <div class="invalid-feedback">
                            Enter Title !
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <textarea required class="form-control" type="text"
                            name="listing[description]"> <%=listing.description%> </textarea>
                        <div class="invalid-feedback">
                            Please provide a description !
                        </div>

                    </div>

                    <div class="mb-2">
                        <label for="image" class="form-label">image</label>
                        <input required class="form-control" type="text" name="listing[image][url]"
                            value="<%= listing.image?.url || '' %>">
                        <div class="invalid-feedback">
                            Please provide an image URL !
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-2 col-md-6">
                            <label for="price" class="form-label">Price</label>
                            <input required class="form-control" type="number" name="listing[price]"
                                value="<%= listing.price %>">
                            <div class="invalid-feedback">
                                Please enter a valid price !
                            </div>
                        </div>
                        <div class="mb-2 col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <input required class="form-control" type="text" name="listing[country]"
                                value="<%= listing.country %>">
                            <div class="invalid-feedback">
                                Please enter a valid country !
                            </div>
                        </div>

                        <div class="mb-2 col-md-6">
                            <label for="location" class="form-label">Location</label>
                            <input required class="form-control" type="text" name="listing[location]"
                                value="<%= listing.location%>">
                            <div class="invalid-feedback">
                                Please enter a valid location !
                            </div>


                            <div class="pt-4">                          
                            <button class="btn btn-dark p-3 w-40 fw-semibold py-2 text-white" style="background-color: #1a1a1a; border: none; border-radius: 5px;">Add <i
                                    class="fa-solid fa-square-plus"></i></button>
                            </div>
                </form>
            </div>
        </div>



</body>

</html>